.custom-menubar {
   /* Silver background */
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-menubar h4 {
  color: #000;
}

.custom-menubar .p-menubar {
  background-color: #111010d8 !important;
  border: none;
}

.custom-menubar .p-menubar-root-list > .p-menubaritem > .p-menuitem-link {
  color: #0c0808 !important;
}

.custom-menubar .p-menubar-root-list > .p-menubaritem > .p-menuitem-link:hover {
  background-color: #fcfbfb !important; /* Darker silver on hover */
}
.custom-menubar .p-menubar-root-list > .p-menubaritem  {
  background-color: #fcfbfb !important; /* Darker silver on hover */
}
.p-inputgroup .p-inputtext {
  border-radius: 20px 0 0 20px;
  background-color: #f5eeeec5
  
}

.p-inputgroup .p-button {
  border-radius: 0 20px 20px 0;
}
.pi-button{ color: #f8eeee;
color: #000;
border-radius: 10px 10px 10px 10px;}