.mapContainer, #myMap {
    position: relative;
    width: 100%;
    min-width: 290px;
    height: 600px;
}

.controlContainer {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.controlContainer .navButton {
    /* float: left; */
    margin: 2px;
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 16%) 0 0 4px;
    border: none;
    border-radius: 2px;
    width: 32px;
    height: 32px;
    padding: 2px 8px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    line-height: 20px;
    display: inline-block;
    cursor: pointer;
}

.controlContainer .navButton:hover {
    color: deepskyblue;
}

.controlContainer .navSelect {                
    width: 140px;
    padding: 5px;
    font-size: 14px;
}

.controlContainer .navSelect:hover {
    color: black;
}
/* src/components/Location/Location.css */
.mapContainer {
  position: relative;
  width: 100%;
  height: 600px;
}

.filter-container {
  margin-bottom: 20px;
}

.filter-container select,
.filter-container input {
  margin-right: 10px;
  padding: 5px;
}

/* Location.css */
/* .mapContainer {
  position: relative;
  width: 100%;
  height: 430;
} */

/* .controlContainer { */
  /* position: absolute; */
  /* top: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #111010;
  gap: 5px;
} */
/* 
.controlContainer .navButton {
  background-color: #111010;
  box-shadow: 0 0 4px rgb(0 0 0 / 16%);
  border: none;
  border-radius: 2px;
  width: 32px;
  height: 32px;
  padding: 2px 8px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  line-height: 20px;
  display: inline-block;
  cursor: pointer;
}

.controlContainer .navButton:hover {
  color: rgb(145, 14, 25);
}

.controlContainer .navSelect {
  width: 140px;
  padding: 5px;
  font-size: 14px;
}

.controlContainer .navSelect:hover {
  color: black;
} */
